---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #DF3FA5;

/* type scale */
$type-size-1 : 2.441em;  // ~39.056px
$type-size-2 : 1.953em;  // ~31.248px
$type-size-3 : 1.563em;  // ~25.008px
$type-size-4 : 1.25em;   // ~20px
$type-size-5 : 0.95em;      // ~16px
$type-size-6 : 0.75em;   // ~12px
$type-size-7 : 0.6875em; // ~11px
$type-size-8 : 0.625em;  // ~10px

/* headline scale */
$h-size-1: 1.563em; // ~25.008px
$h-size-2: 1.25em; // ~20px
$h-size-3: 1.125em; // ~18px
$h-size-4: 1.0625em; // ~17px
$h-size-5: 1.03125em; // ~16.5px
$h-size-6: 1em; // ~16px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.visually-hidden,
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut,
.sr-only,
.sr-only-focusable:not(:focus) {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
}